* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  color: black;

}

#title {
  font-size: 60px;
  text-align: center;
}

#description {
  font-size: 40px;
  text-align: center;
  padding: 2px;
}

#survey-form {
  background-color: #fff;
  padding: 2px;
  text-align: center;
}

.form {
  padding: 2px;
  margin: 2px;
  text-align: center;
  width: 40%;
}